@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwbobV_Gnfz4DGx_y2RuR9o1CCMChwY0zxmQ&usqp=CAU");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 460px;
  width: 100%;
  display: flex;
  justify-self: center;
  justify-items: center;
  align-items: center;
}

.cc {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwbobV_Gnfz4DGx_y2RuR9o1CCMChwY0zxmQ&usqp=CAU");
  border: 3px solid #fff;
  height: 200px;
  width: 200px;
  margin-inline: auto;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-self: center;
  justify-items: center;
  align-items: center;
}

.cc:hover {
  background-color: inherit;
}

.cc > p {
  margin-block: auto;
  margin-inline: auto;
}
