.btn {
  background-color: #fff;
  color: #000;
  border-style: none;
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  height: 70px;
}

.btn > p {
  background-color: #f0d86e;
  border-radius: 3px;
  font-weight: 200;
  font-size: 0.9rem;
  margin-bottom: 0;
}
